@using ShoppingList.WebMVC.Areas.AdminPanel.Models.ProductVM;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model List<ProductDetailDTOVM>
<h1>Index</h1>

Liste ekleme sayfası




<div class="container">

    <div class="card my-2">
        <div class="card-body">
            <form method="get" id="filter">
                <div class="form-group">
                    <input id="productName" name="name" class="form-control" placeholder="Ürün Ara" value="@ViewBag.Name" />
                </div>
                <div class="form-group mt-2"><button class="btn btn-primary">Filtrele</button></div>

            </form>
        </div>
    </div>


    

     <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>

                        <th scope="col">Görsel</th>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Kategori Adı</th>
                        <th scope="col">İşlem</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <th scope="row">@product.Id</th>

                            <td scope="row"><img src="@product.UrlImage" width="25"></td>
                            <td>@product.Name</td>
                            <td>@product.CategoryName</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@product.Id" asp-controller="Products" asp-area="AdminPanel" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Düzenle</a>
                                |
                                <a asp-action="Delete" asp-route-id="@product.Id" asp-controller="Products" asp-area="AdminPanel" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sil</a>
                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
